* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
}

#ticker {
    width: 100%;
    overflow: hidden;
    height: 4em;
    position: relative;
    background-color: black;
}

#headlines {
    /*
    Stop links from wrapping
    */
    position: absolute;
    left: 100%;
    white-space: nowrap;
    height: 4em;
    display: flex;
    align-items: center;
}

#headlines a {
    /*
    default state styling for links
    */
    padding-right: 30px;
    vertical-align: middle;
    color: aliceblue;
    font-size: 1.2em;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#headlines a:hover {
    color: hotpink;
    text-decoration: underline;
}
