* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: serif;
}

img {
    max-width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 3em;
    font-style: italic;
}

h2 {
    margin: 0%;
    font-size: 1.5em;
}

p {
    margin: 0%;
    font-size: 1em;
}

button {
    background-color: #ffcc33;
    color: #cc6600;
    border: solid 3px #cc6600;
    border-radius: 70px;
    overflow: hidden;
    padding: 0.25em 1em;
    font-size: 2em;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    display: block;
    font-family: serif;
    cursor: pointer;
    transition: all 0.075s ease-in;
}

button:hover {
    box-shadow: 0px 0px 20px rgba(255, 174, 0, 0.555);
    transform: scale(1.05);
}

header {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav-bar-contain {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    width: 17%;
    min-width: 175px;
    float: left;
    cursor: pointer;
}

.menu {
    width: 3%;
    min-width: 40px;
    height: 100%;
    float: right;
    cursor: pointer;
}

.hero-section {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("spices.jpg");
    background-size: cover;
    background-position: center;

    padding-top: 14%;
    padding-bottom: 14%;
}

.hero-content {
    width: 90%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.benefits-section {
    width: 100%;
    background-color: #cccccc;
    padding-top: 5%;
    padding-bottom: 5%;
}

.benefits-wrapper {
    text-align: center;
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.benefit-item {
    position: relative;
    width: 42%;
    margin: 2.5%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.icon {
    width: 40px;
    position: absolute;
    top: 0;
    left: 0%;
}

.benefit-text-content {
    padding-left: 60px;
    text-align: left;
    width: calc(100%-60px);
}

footer {
    background-color: #666666;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-contain {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

.footer-text {
    color: #eeeeee;
}

@media screen and (max-width: 600px) {
    .benefit-item {
        display: block;
        width: auto;
        margin: 30px 0;
    }

    h1 {
        font-size: 2.5em;
    }
    button {
        font-size: 1.5em;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #505050;
    }
    h2 {
        color: #eeeeee;
    }
    p {
        color: #eeeeee;
    }
    button {
        background-color: #505050;
        color: #cc8b00;
        border: solid 3px #cc8b00;
    }
    header {
        background-color: #505050;
    }
    .benefits-section {
        background-color: #505050;
    }
    .hero-section {
        background-image: linear-gradient(
                rgba(0, 0, 0, 0.7),
                rgba(0, 0, 0, 0.7)
            ),
            url("spices.jpg");
    }
}
