* {
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

h1 {
    padding: 10px;
}

.result {
    padding: 20px;
    margin: 5px;
    border: solid 2px black;
    position: relative;
}

.account {
    position: absolute;
    right: 20px;
    bottom: 0;
}
