* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#kitties {
    height: 600px;
    position: relative;
    overflow: hidden;
}
#dots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    max-width: 200px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#dots div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px white;
    cursor: pointer;
}
#dots div.selected {
    background-color: white;
}

#kitties img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(100%);
}
#kitties img.onscreen {
    transform: translateX(0%);
    transition: transform 1s;
}

#kitties img.exit {
    transform: translateX(-100%);
    transition: transform 1s;
}

@media screen and (max-width: 900px) {
    #kitties {
        height: 100vh;
    }
}
