body {
    background-color: brown;
}
main {
    display: flex;
    flex-wrap: wrap;
}

main a {
    text-decoration: none;
    color: black;
    margin: 2em;
}

.project {
    max-width: 400px;
}

.project h2 {
    margin-left: 10px;
}

.project img {
    width: 100%;
    max-height: 90%;
    border-radius: 20px;
}

#projectPreview {
    text-decoration: none;
    color: black;
    margin: 2em;
}
